<?xml version="1.1"?>
<config>
    <modules>
        <Duitku_Varitel>
            <version>2.2.0</version>
        </Duitku_Varitel>
    </modules>
    <global>
        <blocks>
            <varitel>
                <class>Duitku_Varitel_Block</class>
            </varitel>
        </blocks>
        <models>
            <varitel>
                <class>Duitku_Varitel_Model</class>
            </varitel>
        </models>
        <helpers>
            <varitel>
                <class>Duitku_Varitel_Helper</class>
            </varitel>
        </helpers>
    </global>
    <default>
        <payment>
            <varitel>
                <active>0</active>
                <title>Duitku Ritel Virtual Account</title>
                <model>varitel/varitel</model> 
                <allowspecific>0</allowspecific>
                <apiurl>https://passport.duitku.com/webapi/</apiurl>
				<duitkuexpired>1440</duitkuexpired>
            </varitel>
        </payment>
    </default>
    <frontend>
       <routers>
          <varitel>
              <use>standard</use>
              <args>
                 <module>Duitku_Varitel</module>
                 <frontName>varitel</frontName>
              </args>
           </varitel>
       </routers>
    </frontend>
</config>