<?xml version="1.1"?>
<config>
    <modules>
        <Duitku_Vabca>
            <version>2.2.0</version>
        </Duitku_Vabca>
    </modules>
    <global>
        <blocks>
            <vabca>
                <class>Duitku_Vabca_Block</class>
            </vabca>
        </blocks>
        <models>
            <vabca>
                <class>Duitku_Vabca_Model</class>
            </vabca>
        </models>
        <helpers>
            <vabca>
                <class>Duitku_Vabca_Helper</class>
            </vabca>
        </helpers>
    </global>
    <default>
        <payment>
            <vabca>
                <active>0</active>
                <title>Duitku BCA Virtual Account</title>
                <model>vabca/vabca</model> 
                <allowspecific>0</allowspecific>
                <apiurl>https://passport.duitku.com/webapi/</apiurl>
				<duitkuexpired>1440</duitkuexpired>
            </vabca>
        </payment>
    </default>
    <frontend>
       <routers>
          <vabca>
              <use>standard</use>
              <args>
                 <module>Duitku_Vabca</module>
                 <frontName>vabca</frontName>
              </args>
           </vabca>
       </routers>
    </frontend>
</config>