.duitku-admin .heading {background: url(Duitku.svg) no-repeat 0 50% / 18rem auto; padding-left: 20rem;}
.duitku-admin .button-container {float: right;}
.duitku-admin .config-alt { height: 26px; margin: 0.5rem 0 0; width: 230px;}
