<?xml version="1.1"?>
<config>
    <modules>
        <Duitku_Vaatmbersama>
            <version>1.1.0</version>
        </Duitku_Vaatmbersama>
    </modules>
    <global>
        <blocks>
            <vaatmbersama>
                <class>Duitku_Vaatmbersama_Block</class>
            </vaatmbersama>
        </blocks>
        <models>
            <vaatmbersama>
                <class>Duitku_Vaatmbersama_Model</class>
            </vaatmbersama>
        </models>
        <helpers>
            <vaatmbersama>
                <class>Duitku_Vaatmbersama_Helper</class>
            </vaatmbersama>
        </helpers>
    </global>
    <default>
        <payment>
            <vaatmbersama>
                <active>0</active>
                <title>Duitku Virtual Account</title>
                <model>vaatmbersama/vaatmbersama</model> 
                <allowspecific>0</allowspecific>
                <apiurl>http://182.23.85.10/rbsnewwebapi/api/merchant/inquiry</apiurl>
            </vaatmbersama>
        </payment>
    </default>
    <frontend>
       <routers>
          <vaatmbersama>
              <use>standard</use>
              <args>
                 <module>Duitku_Vaatmbersama</module>
                 <frontName>vaatmbersama</frontName>
              </args>
           </vaatmbersama>
       </routers>
    </frontend>
</config>