<?xml version="1.1"?>
<config>
    <modules>
        <Duitku_Vacimbniaga>
            <version>2.2.0</version>
        </Duitku_Vacimbniaga>
    </modules>
    <global>
        <blocks>
            <vacimbniaga>
                <class>Duitku_Vacimbniaga_Block</class>
            </vacimbniaga>
        </blocks>
        <models>
            <vacimbniaga>
                <class>Duitku_Vacimbniaga_Model</class>
            </vacimbniaga>
        </models>
        <helpers>
            <vacimbniaga>
                <class>Duitku_Vacimbniaga_Helper</class>
            </vacimbniaga>
        </helpers>
    </global>
    <default>
        <payment>
            <vacimbniaga>
                <active>0</active>
                <title>Duitku CIMB Virtual Account</title>
                <model>vacimbniaga/vacimbniaga</model> 
                <allowspecific>0</allowspecific>
                <apiurl>https://passport.duitku.com/webapi/</apiurl>
				<duitkuexpired>1440</duitkuexpired>
            </vacimbniaga>
        </payment>
    </default>
    <frontend>
       <routers>
          <vacimbniaga>
              <use>standard</use>
              <args>
                 <module>Duitku_Vacimbniaga</module>
                 <frontName>vacimbniaga</frontName>
              </args>
           </vacimbniaga>
       </routers>
    </frontend>
</config>