<?xml version="1.1"?>
<config>
    <modules>
        <Duitku_Vapermata>
            <version>1.1.0</version>
        </Duitku_Vapermata>
    </modules>
    <global>
        <blocks>
            <vapermata>
                <class>Duitku_Vapermata_Block</class>
            </vapermata>
        </blocks>
        <models>
            <vapermata>
                <class>Duitku_Vapermata_Model</class>
            </vapermata>
        </models>
        <helpers>
            <vapermata>
                <class>Duitku_Vapermata_Helper</class>
            </vapermata>
        </helpers>
    </global>
    <default>
        <payment>
            <vapermata>
                <active>0</active>
                <title>Duitku Virtual Account</title>
                <model>vapermata/vapermata</model> 
                <allowspecific>0</allowspecific>
                <apiurl>http://182.23.85.10/rbsnewwebapi/api/merchant/inquiry</apiurl>
            </vapermata>
        </payment>
    </default>
    <frontend>
       <routers>
          <vapermata>
              <use>standard</use>
              <args>
                 <module>Duitku_Vapermata</module>
                 <frontName>vapermata</frontName>
              </args>
           </vapermata>
       </routers>
    </frontend>
</config>