<?xml version="1.1"?>
<config>
    <modules>
        <Duitku_Shopeepay>
            <version>2.2.0</version>
        </Duitku_Shopeepay>
    </modules>
    <global>
        <blocks>
            <shopeepay>
                <class>Duitku_Shopeepay_Block</class>
            </shopeepay>
        </blocks>
        <models>
            <shopeepay>
                <class>Duitku_Shopeepay_Model</class>
            </shopeepay>
        </models>
        <helpers>
            <shopeepay>
                <class>Duitku_Shopeepay_Helper</class>
            </shopeepay>
        </helpers>
    </global>
    <default>
        <payment>
            <shopeepay>
                <active>0</active>
                <title>QRIS by Shopeepay</title>
                <model>shopeepay/shopeepay</model> 
                <allowspecific>0</allowspecific>
                <apiurl>https://passport.duitku.com/webapi/</apiurl>
                <duitkuexpired>5</duitkuexpired>
            </shopeepay>
        </payment>
    </default>
    <frontend>
       <routers>
          <shopeepay>
              <use>standard</use>
              <args>
                 <module>Duitku_Shopeepay</module>
                 <frontName>shopeepay</frontName>
              </args>
           </shopeepay>
       </routers>
    </frontend>
</config>