<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2017. All rights reserved Duitku Vabca.
 *
 * This program is free software. You are allowed to use the software but NOT allowed to modify the software.
 * It is also not legal to do any changes to the software and distribute it in your own name / brand.
 *
 * All use of the payment modules happens at your own risk. We offer a free test account that you can use to test the module.
 *
 * @author    Duitku Vabca
 * @copyright Duitku Vabca (http://duitku.com)
 * @license   Duitku Vabca
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
    <payment>
        <duitku_vabcaepay>
        <active>0</active>
        <model>Duitku\Vabca\Model\Method\Epay\Payment</model>
        <title>Duitku Vabca Payment solutions</title>
        <instantinvoice>0</instantinvoice>
        <instantinvoicemail>0</instantinvoicemail>
        <paymentgroup>0</paymentgroup>
        <remoteinterface>1</remoteinterface>
        <enableinvoicedata>0</enableinvoicedata>
          <sendmailorderconfirmation>1</sendmailorderconfirmation>
        <sort_order>7</sort_order>
        <windowstate>3</windowstate>
        <timeout>60</timeout>
        <order_status>processing</order_status>
         <group>duitku</group>
      </duitku_vabcaepay>
    </payment>
  </default>
</config>